* {
  margin: 0;
  padding: 0;
}

body {
  font: 12px/1.5 tahoma, '\5FAE\8F6F\96C5\9ED1', sans-serif;
  color: #333;
}

ul, li {
  list-style: none;
}

.app-main {
  width: 100%;
  padding-top: 70px;
  background: #f5f5f5;
}